h1 {
  margin-bottom: 30px;
}

h3 {
  font-size: 16pt;
  font-weight: bold;
}

.icon {
  position: relative;
  /* Adjust these values accordingly */
  top: -1px;
  /* left: 5px; */
}

.icon.big {
  position: relative;
  /* Adjust these values accordingly */
  top: -9px;
  /* left: 5px; */
}

.icon.copy {
  cursor: pointer;
}

.icon.move {
  cursor: grab;
}

p.word {
  font-size: 14pt;
}

p.word.english {
  font-weight: bold;
}

textarea.cli {
  resize: none;
  width: 90%;
  white-space: nowrap;
  border: none;
  outline: none;
  font-family: "Courier New", Courier, monospace;
}
