h1 {
  margin-bottom: 30px;
}

.icon {
  position: relative;
  /* Adjust these values accordingly */
  top: -2px;
  /* left: 5px; */
}

.icon.copy {
  cursor: pointer;
}

.icon.move {
  cursor: grab;
}

p.word {
  font-size: 16pt;
}

p.word.english {
  font-weight: bold;
}
